body {
  font-family: 'Montserrat', sans-serif;
}

#full-height {
  min-height: calc(100vh);
}

a {
  text-decoration: none;
}

button {
  padding: 3px;
}

.navbar {
  height: 50px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #9dc9bfdb;
  padding: 5px 0 0 0;
}

.navbar a,
.straight-bar {
  padding: 5px;
  color: #61a2a8;
  font-size: 17px;
}

#logo {
  width: 45px;
  height: 45px;
}

#logo-name {
  width: 160px;
  height: 25px;
}

nav.login {
  display: flex;
  margin: auto 5px auto auto;
}

#welcome {
  display: flex;
  font-size: 12px;
  margin: auto;
}

.login-container {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 75px;
  background-color: #f9f9f9;
  border: 1px solid #9dc9bfdb;
}

.login-container div,
.login-container button {
  text-align: center;
  margin: 10px;
}

label {
  display: block;
}

#map {
  position: absolute;
  width: 100%;
  height: 91.5%;
}

#result-map {
  position: absolute;
  width: 99%;
  height: 91.5%;
}

/* .map-container {
  display: flex;
} */

/* 
.thumbnail-container {
  display: flex;
} */

/* 
.thumbnail {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 40px;
  padding: 15px;
  margin: 10px;
  font-size: 10px;
  background-color: #f9f9f9;
  border: 1px solid #9dc9bfdb;
  border-radius: 5px;
  opacity: .9;
  text-align: center;
}

.thumbnail img {
  width: 50px;
  height: 50px;
  z-index: 10;
} */

.options-container {
  display: flex;
  width: 45%;
  height: 300px;
  min-width: 200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 75px;
  background-color: #f9f9f9;
  border: 1px solid #9dc9bfdb;
  border-radius: 3px;
  opacity: .95;
}

.options-container * {
  text-align: center;
  margin: 5px;
}

.options-container h2 {
  margin: 15px;
  color: #61a2a8;
}

#num-input {
  width: 100px;
}

.searching-page {
  display: flex;
  margin: auto;
  position: relative;
  top: 150px;
  flex-direction: column;
  text-align: center;
}

#wheel {
  height: 100px;
  width: 100px;
}

.result-container {
  display: flex;
  flex-flow: row wrap;
  min-width: 400px;
}

.result-container h2 {
  margin: 45px 0 10px 20px ;
}

#toggle-view {
  height: 50px;
  width: 50px;
  margin: 25px 10px 10px auto;
  border-radius: 5px;
  z-index: 3;
}

#toggle-view img {
  margin: 5px 10px 10px auto;
}

.bottom-right-button {
  margin: 0 20px 20px auto;
  text-align: right;
}

.bottom-right-button button {
  margin: 5px;
  border-radius: 5px;
}

.bottom-right-button img {
  width: 40px;
  height: 40px;
}

.list-item {
  background-color: #f9f9f9;
  border: 1px solid #9dc9bfdb;
  border-radius: 3px;
  display: inline-flex;
  width: 100%;
  margin: 15px;
  padding: 10px;
}

.result-container img {
  width: 200px;
  max-width: 100%; 
  max-height: 200px; 
  margin: 10px;
  border-radius: 5px;
}

.account-container {
  padding: 10px;
}

#back-button {
  margin: 15px;
}

.back-to-start {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

.back-to-start#in-map {
  position: absolute;
  bottom: 45px;
  left: 30px;
}

.back-to-start#in-list {
  display: flex;
  align-self: left;
  margin: 0 auto 20px 20px;
  text-align: left;
}

.footer {
  display: flex;
  position: relative;
  height: 30px;
  font-size: 9px;
  background-color: #f9f9f9;
  padding: 5px 0 0 0;
  color: #61a2a8;
  border-top: 1px solid #9dc9bfdb;
}

.footer p {
  display: flex;
  margin: auto;
}